body {
    background-color: #FFFFFF;
    font-family: Calibri, sans-serif;
  }

  h1.header {
    color: #4472C4;
    border-bottom: 1px solid #4472C4;
    border-top: 1px solid #4472C4;
    font-size: 36px;
    margin-top: 7px;
    padding-top: 20px;
  }
  
  h1 {
    color: #4F4F4F;
    font-size: 24px;
  }

  p {
    color: #404040;
    font-size: 14px;
  }

  p.footer {
    color: #404040;
    padding-top: 10px;
    padding-bottom: 28px;
    border-top: 1px solid #4472C4;
    border-bottom: 1px solid #4472C4;
  }

  span.footerleft {
    float:left;
  }

  span.footerright {
    float:right;
  }

  img {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  div.navigation {
    width: 600px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 0px;
  }

  div.content {
    max-width: 600px;
    padding-left: 10px;
    margin-top: 0px;
  }
  
  span.active {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-right: 2px solid #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 7px;
    padding-bottom: 7px;
    color: #FFFFFF;
    background-color: #2B2B2B;
  }

  span.navilink {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-right: 2px solid #FFFFFF;
    font-size: 14px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 7px;
    padding-bottom: 7px;
    color: #FFFFFF;
    background-color: #4472C4;
  }

  span.navilink:hover {
    background-color: #2B2B2B;
  }

  a.navigation {
    color: #FFFFFF;
    text-decoration: none;
  }

  a.link {
    color: #4472C4;
  }

  a.link:visited {
    color: #4472C4;
  }
  a.link:hover {
    color: #D62618;
  }

  a.link:active {
    color: #D62618;
  }

  @media only screen and (min-width: 1024px) {
    div.content {
        max-width: 1024px;
    }
  }