body {
    background-color: #FFFFFF;
    font-family: Calibri, sans-serif;
  }

  h1.header {
    color: #4472C4;
    border-bottom: 1px solid #4472C4;
    border-top: 1px solid #4472C4;
    font-size: 36px;
  }
  
  h1 {
    font-size: 24px;
  }

  p {
    font-size: 14px;
  }

  p.footer {
    padding-top: 10px;
    padding-bottom: 28px;
    border-top: 1px solid #4472C4;
    border-bottom: 1px solid #4472C4;
  }

  span.footerleft {
    float:left;
  }

  span.footerright {
    float:right;
  }

  img {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  div.navigation {
    width: 600px;
    margin-left: 10px;
    margin-right: 10px;
  }

  div.content {
    max-width: 600px;
    padding-left: 10px;
  }
  
  div.active {
    float: left;
    border-right: 3px solid #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 7px;
    padding-bottom: 7px;
    color: #FFFFFF;
    background-color: #000000;
  }

  div.navilink {
    float: left;
    border-right: 3px solid #FFFFFF;
    font-size: 14px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 7px;
    padding-bottom: 7px;
    color: #FFFFFF;
    background-color: #4472C4;
  }

  div.navilink:hover {
    background-color: #000000;
  }

  a.navigation {
    color: #FFFFFF;
    text-decoration: none;
  }

  a.link {
    color: #4472C4;
  }

  a.link:visited {
    color: #4472C4;
  }
  a.link:hover {
    color: #D62618;
  }

  a.link:active {
    color: #D62618;
  }

  @media only screen and (min-width: 1025px) {
    div.content {
        max-width: 1025px;
    }
  }